@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

/* Sign up form  */
.signupform {
  width: 50%;
  height: 320px;
  border-radius: 10px;
  margin-top: 22vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  align-self: center;
  margin-right: 3vw;
}
.signupform .head {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.76);
  font-size: 2em;
  font-weight: bolder;
}
.signupform .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-40px);
}
.signupform .form form ul {
  display: flex;
  flex-direction: column;
}
.signupform .form form ul li {
  list-style: none;
  margin: 3px;
}
.signupform .form form .mform {
  display: flex;
}
#formlist1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: -20px;
  padding: 1px;
  transform: translateY(-5px);
}
#formlist1 li {
  color: rgba(255, 255, 255, 0.87);
  font-size: 1em;
  margin: 4px;
}
input {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.253);
  border: 0;
  color: white;
  font-family: "Quicksand", sans-serif;
}
input:focus {
  outline: none !important;
  border-color: #e77979;
  color: rgba(0, 0, 0, 0.527);
  box-shadow: 0 0 10px #fdb49e;
  font-family: "Quicksand", sans-serif;
}
.regbtn {
  position: relative;
  top: -17px;
  left: 10px;
  color: white;
}
.mform {
  width: 80%;
}
.formlist2 {
  width: 300px;
}
.head {
  text-align: right;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
.box {
  margin-right: 50px;
}
.lgn {
  margin-left: 240px;
  border: none;
  background: black;
  padding: 12px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
}
