.profile{
    position: absolute;
    top: 85px;
    left: -5px;
    background-color: rgba(255, 255, 255, 0.247);
    width: calc(55%);
    height: 30vh;
    margin: 12px;
    padding: 12px;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.247);
    box-shadow:  inset 5px 5px 5px rgba(255, 255, 255, 0.164) ,5px 5px 5px rgba(0, 0, 0, 0.055);
}
.profile ul{
    position: absolute;
    top: 8;
    left: 25%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.profile ul li {
    list-style: none;
    padding: 4px;
    margin: 0;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.884);
    font-family: 'Encode Sans SC', sans-serif;
}
.profile ul li span{
    font-size: .8em;
    color: rgba(255, 255, 255, 0.534);
}