@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");

/* Sign up form  */

.signupform {
  width: 50%;
  height: 50vh;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.signupform .head {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.76);
  font-size: 2em;
}
.signupform .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signupform .form form ul {
  display: flex;
  flex-direction: column;
}

.signupform .form form ul li {
  list-style: none;
  margin: 3px;
}

.signupform .form form .mform {
  display: flex;
}
#formlist1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: -20px;
  padding: 1px;
  transform: translateY(-5px);
}
#formlist1 li {
  font-family: "Encode Sans SC", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  font-size: 1em;
  margin: 4px;
}
input {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.253);
  border: 0;
  color: white;
  font-family: "Quicksand", sans-serif;
}
input:focus {
  outline: none !important;
  border-color: #e77979;
  color: rgba(0, 0, 0, 0.527);
  box-shadow: 0 0 10px #fdb49e;
  font-family: "Quicksand", sans-serif;
}

.Rectangle1 {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: #364436;
  box-shadow: 100px 0px 250px 700px #364436;
}
.Rectangle2 {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0px;
}

.Rectangle3 {
  position: absolute;
  width: 555px;
  height: 80%;
  left: 123px;
  top: 87px;

  background: url(./images/image.png);
}

.Rectangle4 {
  position: absolute;
  width: 35%;
  height: 80%;
  top: 87px;
  right: 100px;
  background-size: cover;
}
.Rectangle4 h1 {
  position: absolute;
  width: 90%;
  height: 61px;
  top: 118px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

.Rectangle4 h2 {
  position: absolute;
  width: 50%;
  height: 35px;
  left: 160px;
  top: 163px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;

  color: #c4c4c400;
}

.logbtn {
  position: relative;
  top: 157px;
  left: 24px;
  color: white;
}

.logbutton {
  background: none;
  border: none;
  font-weight: bolder;
  color: white;
}
.Rectangle5 {
  position: absolute;
  width: 30%;
  height: 34px;
  left: 15%;
  top: 200px;

  background: rgba(54, 68, 54, 0.67);
  border-radius: 10px;
}

.Rectangle6 {
  position: absolute;
  width: 30%;
  height: 34px;
  left: 55%;
  top: 200px;

  background: rgba(54, 68, 54, 0.67);
  border-radius: 10px;
}
.Rectangle7 {
  position: absolute;
  width: 70%;
  height: 34px;
  left: 15%;
  top: 248px;

  background: rgba(54, 68, 54, 0.67);
  border-radius: 10px;
}

.Rectangle8 {
  position: absolute;
  width: 30%;
  height: 34px;
  left: 15%;
  top: 300px;

  background: rgba(54, 68, 54, 0.67);
  border-radius: 10px;
}

.Rectangle9 {
  position: absolute;
  width: 30%;
  height: 34px;
  left: 55%;
  top: 300px;
  display: flex;
  flex-direction: row;
  background: rgba(54, 68, 54, 0.67);
  border-radius: 10px;
  justify-content: center;
}

.Rectangle10 {
  position: absolute;
  width: 25%;
  height: 34px;
  left: 60%;
  top: 368px;

  background: #000000;
  border-radius: 20px;
}
.fn {
  padding-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #c4c4c4;
}
.ln {
  padding-top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #c4c4c4;
}

.email {
  padding-top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #c4c4c4;
}
.phone {
  padding-top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #c4c4c4;
}

.uf {
  padding-top: 10px;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding-left: 10px;
  color: #c4c4c4;
}

.upload {
  display: flex;
}
.cra {
  padding-top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #ffffff;
}
.upload img {
  height: 25px;
  width: 25px;
  left: 985px;
  top: 429px;
  margin-left: 10px;
  margin-top: 5px;
}

.boxing {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 700px;
  height: auto;
}

input {
  background: transparent;
}

.Rectangle1 img {
  width: 50px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.nav1 {
  position: absolute;
  width: 99px;
  height: 39px;
  left: 117px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #c4c4c4;
}
.nav2 {
  position: absolute;
  width: 57px;
  height: 25px;
  left: 234px;
  top: 35px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #c4c4c4;
}
.nav3 {
  position: absolute;
  width: 57px;
  height: 25px;
  left: 324px;
  top: 35px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #c4c4c4;
}

.Rectangle4 input {
  background: transparent;
  border: none;
  width: 100%;
  height: 34px;
  left: 15%;
  top: 200px;
  color: white;
  background: rgba(54, 68, 54, 0.67);
  border-radius: 10px;
  font-size: 12px;
}

.Rectangle4 input:focus {
  box-shadow: none;
  color: white;
}
