@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@700&display=swap');



.nav{
    width: clac(100%-10px);
    height: 70px;
    margin: 9px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.247);
    border: 3px solid rgba(255, 255, 255, 0.247);
    border-radius: 10px;
    box-shadow:  inset 5px 5px 5px rgba(255, 255, 255, 0.164) ,5px 5px 5px rgba(0, 0, 0, 0.055);
    transform: translateY(5px);
}
.nav .logo{
    width: 40%;
    padding-left: 50px;
}
.nav .logo h2{
    font-family: 'Encode Sans SC', sans-serif;
    color: rgba(255, 255, 255, 0.795);
}
.nav .items{
    width: 60%;
}
.nav .items ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav .items ul li{
    list-style: none;
    color: rgba(255, 255, 255, 0.596);
    font-size: 1.5em;
    font-family: 'Encode Sans SC', sans-serif;
}
.nav .items ul li:hover{
    
    color: rgb(255, 255, 255);
}

/* The switch - the box around the slider */
button{
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.705);
  border: none;
}